<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú 3</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>

<body>

<h2 style="text-align:center; color:white;">Menú 3 - Tarjetas</h2>

<div style="display:flex; justify-content:center; gap:20px;">

    <div style="background:white; padding:20px; width:150px; border-radius:15px; box-shadow:0 0 10px black;">
        <h4>Opción 1</h4>
        <p>Descripción breve.</p>
    </div>

    <div style="background:white; padding:20px; width:150px; border-radius:15px; box-shadow:0 0 10px black;">
        <h4>Opción 2</h4>
        <p>Descripción breve.</p>
    </div>

    <div style="background:white; padding:20px; width:150px; border-radius:15px; box-shadow:0 0 10px black;">
        <h4>Opción 3</h4>
        <p>Descripción breve.</p>
    </div>

</div>

<br><center><a href="../index.html" class="btn">Volver</a></center>

</body>
</html>
