<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú 1</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>

<body>

<h2 style="text-align:center; color:white;">Menú 1 - Vertical</h2>

<ul style="background:white; width:200px; margin:auto; padding:20px; border-radius:10px;">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Acerca de</a></li>
    <li><a href="#">Galería</a></li>
    <li><a href="#">Contacto</a></li>
</ul>

<br><center><a href="../index.html" class="btn">Volver</a></center>

</body>
</html>
