<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú 2</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>

<body>

<h2 style="text-align:center; color:white;">Menú 2 - Horizontal</h2>

<nav style="background:white; padding:15px; text-align:center;">
    <a href="#" style="margin:15px;">Inicio</a>
    <a href="#" style="margin:15px;">Proyectos</a>
    <a href="#" style="margin:15px;">Servicios</a>
    <a href="#" style="margin:15px;">Contacto</a>
</nav>

<br><center><a href="../index.html" class="btn">Volver</a></center>

</body>
</html>
