<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Multimedia 1 - Mapas</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>

<body>
<h2 style="text-align:center; color:white;">Multimedia 1 - Mapas</h2>

<div style="text-align:center;">
    <iframe width="350" height="250" src="https://www.google.com/maps/embed?..." loading="lazy"></iframe>
    <iframe width="350" height="250" src="https://www.google.com/maps/embed?..." loading="lazy"></iframe>
    <iframe width="350" height="250" src="https://www.google.com/maps/embed?..." loading="lazy"></iframe>
</div>

<br><center><a href="../index.html" class="btn">Volver</a></center>

</body>
</html>
